.roundImg {
  -webkit-border-bottom-right-radius: 85px;
  -moz-border-radius-bottomright: 85px;
  border-bottom-right-radius: 85px;
}

.card-height {
  height: 350px;
}

.text-center {
  color: black;
}
