.footer {
  width: 100%;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  background-image: url(../../images/footer1.png);
  background-position: center;
  background-size: cover;
}

.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 50vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: #dfdfdf;
}

/* selected link */
a:active {
  color: white;
}

@media (max-width: 768px) {
  .vertical-center {
    min-height: 100vh; /* These two lines are counted as one :-)       */
  }
}
