.imagenUno {
  width: 100%;
  height: 100%;
}

.customRow {
  display: flex;
}

.img__container {
  position: relative;
  overflow: hidden;
}
.img__container img {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  width: 0;
  object-fit: cover;
}

@media (max-width: 768px) {
  .img__container img {
    position: unset;
  }

  .textCenter {
    text-align: center !important;
    color: black !important;
  }



}
