.portadaHome {
  width: 100%;
  height: 91vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
      rgba(142, 142, 142, 0.39),
      rgba(142, 142, 142, 0.39)
    ),
    url(../../images/portada.jpg);
  background-size: cover;
  background-position: center;
}

.logo {
  align-self: center;
  margin: auto;
}

.verticalcenter {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  .logo {
    width: 50%;
  }
}
